<nav class="navbar">
      <div class="navbar-container">
        <div class="navbar-brand">
          <a href="/">
            <img src="img/logo.svg" alt="Starbucks" />
          </a>
        </div>
      </div>
</nav>